*{
    margin: 0;
    padding: 0;
    background-image: url("./background.png");
    background-size: cover;
}

.female {
    top: 10rem;
    right: 0rem;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 500px;

}

.headline1 {
    height: 500px;
    width: 500px;
    animation-name: move-right;
    animation-duration: 2s;

}@keyframes move-right {
    from {
        position: absolute;
        left: 0px;
    }
    to {
        position: absolute;
        left: 100px;
    }

}

.slideone {
    animation: fadeIn 2s both;
    
}@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }


}@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.slidefade {
    animation: fadeOut 1s both;

}@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
